@import '~antd/dist/antd.less';

/* Global styles */
* {
  font-family: 'Noto Sans', sans-serif;
}

.ant-table-thead .ant-table-cell {
  font-weight: bold;
}

.ant-modal-wrap {
  backdrop-filter: blur(6px);
}

.ant-alert-banner.ant-alert-warning {
  border-left: 6px solid @alert-warning-border-color;
}